footer{
    position: relative;
    bottom: 0;
    top: 40px;
    width: 100%;
}
.card-title{
    min-height: 30px;
}
.card-text {
    min-height: 50px;
}

#bg-home{
    right: 0px;
}

#bg-home2{
    right: 200px;
}

.nav-left{
    color: black;
    font-size: 12pt;
    font-weight: 400;
}

#nav-right li a{
    color: white;
    font-size: 14pt;
    font-weight: 600;
    border-bottom: 3px solid white;
}

#nav-right li a:hover{
    color: black;
    transition: 300ms;
    border-color: black;
}

#brand{
    color: white;
}

#navbar-left li a{
    color: white;
}

#search{
    width: 300px;
}

#brand:hover{
    color: black;
    transition: 500ms;
}

#navbar-left li a:hover{
    color: black;
    transition: 500ms;
}

#tambahKatalog:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}

#flex a{
    font-size: 16pt;
    font-weight: 700;
}